@import url("https://use.typekit.net/bur0ngk.css");
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .main-title {
        font-family: cubano, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .merriweather {
        font-family: 'Merriweather', serif;
    }

    body {
        font-family: 'Fira Code', monospace;
    }

    ion-icon.very-large {
        font-size: 48px;
    }
}