{% extends "base_template.html" %}

{% block header %}

<script defer>

    function fadeInText() {
        let fadeOffset = 0
        $('#heading').children().each(function (i) {
            $(this).delay(fadeOffset).css('opacity', 0).animate({ opacity: 1 }, 1000).toggleClass("invisible")
            fadeOffset += 200 + ((i + 1) * 100)
        })
    }
    $(document).ready(function () {

    });
    $(window).on("load", function () {
        setTimeout(() => {
            $('#spinner').fadeOut(duration = 500, fadeInText)
        }, 250);
    });
</script>


{% endblock %}



{% block main %}
{% include 'spinner.html' %}

<div class="mx-auto my-8 w-[50%] md:w-[20%]">
    <img class="object-cover rounded-2xl" src="{{ url_for('static', filename='images/me.png') }}"
        alt="That's a picture of me!">
</div>

<div id="heading" class="text-center">
    <div class="main-title text-4xl md:text-6xl invisible">
        <span class="text-gray-500">Artur</span> <span class="text-gray-900">Galstyan</span>
    </div>
    <h2 class="main text-3xl md:text-5xl my-4 invisible font-bold">
        A.I. Researcher
    </h2>
    <h3 class="main text-2xl md:text-3xl invisible">
        Fullstack Developer
    </h3>
    <h4 class="main text-xl md:text-lg invisible">
        Cloud Engineer
    </h4>
    <h5 class="main text-sm invisible">
        Beginner Violinist
    </h5>
    <h6 class="main text-xs invisible">
        YouTuber
    </h6>
</div>

<div class="flex justify-center my-12">
    <a href="mailto:mail@arturgalstyan.dev"
        class="w-[40%] md:w-[25%] lg:w-[15%] rounded-lg bg-blue-500 text-white hover:bg-blue-800 duration-300 transition ease-in-out mx-2">
        <div class="m-4 text-xl text-center merriweather">
            Contact me
        </div>
    </a>
    <a href="{{ url_for('blog_bp.home') }}"
        class="w-[40%] md:w-[25%] lg:w-[15%] rounded-lg bg-emerald-600 text-white hover:bg-emerald-800 duration-300 transition ease-in-out mx-2">
        <div class="m-4 text-xl text-center merriweather">
            Blog
        </div>
    </a>
</div>

<div class="flex justify-center">
    <div class="md:w-[35%] w-full flex justify-evenly">
        <a href="https://github.com/Artur-Galstyan/">
            <ion-icon class="very-large text-gray-700 hover:text-emerald-500 duration-200 transition ease-in-out"
                name="logo-github"></ion-icon>
        </a>
        <a href="https://www.linkedin.com/in/artur-galstyan-262842204/">
            <ion-icon class="very-large text-blue-400 hover:text-blue-700 duration-200 transition ease-in-out"
                name="logo-linkedin"></ion-icon>
        </a>
        <a href="https://www.youtube.com/channel/UCZUnp_UT1c6jTELYx4AAN4Q">
            <ion-icon class="very-large text-red-500 hover:text-red-800 duration-200 transition ease-in-out"
                name="logo-youtube"></ion-icon>
        </a>
    </div>
</div>



{% endblock %}